name: Update_Rules
on:
   push:
    branches: 
      - master
  # schedule:
  #   - cron: 0 20 * * *
  # release:
  #   types: [published]
   watch:
     types: started
    
jobs:

  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:

      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: master
      
      - name: update
        run: |
          chmod 0755 ./update.sh
          ./update.sh
      
      - name: Push Commits
        run : |
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$INPUT_REPO.git" master
      
      - name: upload to gitee 传到码云
        run: |
          git config --global user.email "ycg31@qq.com"
          git config --global user.name "ycg31"
          git clone --depth 1 https://ycg31:${{ secrets.GITEE_TOKEN }}@gitee.com/ycg31/KoolProxy rom
          mkdir -p rom/rules/
          cp -rf ./rules/ rom/
          cd rom
          git add . || echo "1"
          git commit -m "github_actions" -a;
          git push || (sleep 30m && git push) || (sleep 30m && git push)
